<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/loginstyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="box-inicio">
            <form id="logearse" method="post" action="#">
                <p>Log into your account</p>
                <input id="email" type="email" placeholder="E-mail">
                <input id="pasword" type="password" placeholder="Password">
                <button class="btn-login" type="submit">Login</button>  
            </form>          
        </div>
    </div>
    <script src="../static/scripts/app.js"></script>
</body>
</html>