<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/indexstyles.css">
    <title>Discord App</title>
</head>
<body>
    <header>
        <div class="navbar">
            <a href="#" class="items">About Us</a>
            <a href="#" class="items">Support</a>
            <a href="#" class="items">Contact</a>
        </div>
    </header>
    <div class="container">
        <div class="left">
            <!-- Aca va el nombre de la App -->
            <p class="Discord">Discord</p>
            <p class="Clone">Clone</p>
            <p class="Clone">by 22</p>
        </div>
        <div class="right">
            <div class="buttons">
                <a class="button1" href="register.html">Register</a>
            </div>
            <div class="buttons">
                <a class="button2" href="login.html">Login</a>
            </div>
        </div>
    </div>
    <script src="../static/scripts/app.js"></script>
</body>
</html>