<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/loginstyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="box-inicio">
            <form id="loginForm">
                <p>Log into your account</p>
                <input id="username" type="text" placeholder="Username" required>
                <input id="paswwordd" type="password" name="paswwordd" placeholder="Password" required>
                <button class="btn-login" type="submit">Login</button>  
            </form>          
        </div>
    </div>
    <div id="message"></div>
    <script src="../scripts/login.js"></script>
</body>
</html>