<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/loginstyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="box-inicio">
            <p>Log into your account</p>
            <input placeholder="E-mail">
            <input placeholder="Password">
            <button>Login</button>
            <input type="checkbox">
            
        </div>
    </div>
</body>
</html>